body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

nav {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav a {
    color: gray;
    text-decoration: none;
}

nav a:visited {
    color: gray;
}

nav a:hover {
    text-decoration: underline;
}

nav li {
    display: inline;
}

nav li:after {
    content: '|';
}

nav li:last-child:after {
    content: none;
}




h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
    text-align: right;
}

.label {
    text-align: right;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}


textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 16px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 2px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.loginform {
    width: 230px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 5px;
}

.signupform {
    width: 270px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 5px;
}

.h2form {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.text {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}